$fontsPath: "../fonts/";

$fontHead: Cormorant Garamond;
$fontFamily: Lato, sans-serif;

//fonts
$color: #868686;
$colorActive: #cb8161;
$colorWhite: #ffffff;
$dotUnactiveColor: #8e8e8e;
$colorBlack: #000;
$colorGreen: #9b9b9b;
$colorSizeActive: #cb8161;
$colorSize: #f5f5f5;
$bgColorFooter: #f6f6f6;
$borderColor: #d3d3d3;
$colorLine: #E7E7E7;
